*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: black;
    background-color: darkgray;
}
span {
    justify-content: center;
    align-items: center;
}


input {
    outline:black;
    border:grey;
    width: 8.6rem;
    height: 0.3rem;
    padding: 1rem;
}
button {
    color: black;
    padding: 10px;
    border: 2px solid black;
    background: darkgray;
    
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color:grey;
}